<div class="row">
  <h1>Bandcamp Account: Hypaethral Records</h1>
  
  <div class="span12">
    Total Gross Revenue: $<%= sprintf "%.2f", @gross_revenue %>
  </div>

  <div class="span12">
    Total Net Revenue: $<%= sprintf "%.2f", @net_revenue %>
  </div>

  <div class="span12">
    Total Revenue Share: $<%= sprintf "%.2f", @revenue_share %>
  </div>
  
  <div class="span12">
    Total Paypal Fees: $<%= sprintf "%.2f", @paypal_fees %>
  </div>
  
</div>
