<header class="navbar navbar-inverse navbar-fixed-top">
  
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bandcamp Helper", root_path, class: "brand "%>
    </div>
  </div>
  
</header>